@import 'scss/base';

pw-header {
  @include shadow(5);
  width: 100%;
  display: block;
  padding: 12px 20px;
  height: auto;
  background: $primary-color;

  .nav-wrapper {
    transition: height 0.2s 0.1s ease-in-out;
    height: 50px;

    @media(max-width: $small-device) {
      &.open {
        transition: height 0.2s 0s ease-in-out;
        height: 135px;
      }
    }
  }

  .title {
    font-size: 1.8em;
    font-weight: 100;

    img,
    span {
      color: $primary-color-text;
      vertical-align: middle;
      margin: 0 2px;
    }
  }

  .fa {
    color: $primary-color-text;
    vertical-align: middle;

    &.disabled {
      color: $divider-color;
      cursor: not-allowed;
    }

    &:hover {
      color: lighten($divider-color, 10%);
    }
  }

  .right {
    margin: 10px 0;

    .fa {
      font-size: 1.5em;
      margin: 0 10px;
    }
  }

  .menu {
    transition: opacity 0.2s ease-in-out;
    display: block;

    @media(max-width: $small-device) {
      opacity: 0;
      clear: both;
      width: 100%;
      margin: 0;

      span,
      .dropdown-btn {
        display: block;
        width: 100%;
        margin-top: 15px;
      }
    }

    &.open {
      transition: opacity 0.2s 0.2s ease-in-out;

      @media(max-width: $small-device) {
        opacity: 1;
      }
    }
  }

  .dropdown {
    .dropdown-btn {
      outline: none;
      border-radius: 3px;
      font-size: 0.9em;
      padding: 2px 5px;
      background-color: $primary-color-text;
      margin-right: 10px;
      color: $secondary-text-color;
    }

    .dropdown-menu {
      @include shadow(6);
      background-color: $primary-color-text;
      color: $secondary-text-color;
    }

    .fa {
      margin: 0 5px;
      font-size: 1em;
      color: $secondary-text-color;
    }
  }
}
