@import 'scss/variables';
dropdown {
  display: inline-block;
  .dd-input {
    position: relative;
    padding: 2px 20px 2px 5px;
    &:before {
      content: '\f0d7';
      position: absolute;
      padding: 2px 5px;
      right: 0;
    }
  }
  .dd-item-list {
    min-width: 50px;
    position: absolute;
    background: $primary-color-text;
    color: $primary-text-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height .1s ease;
    border-radius: 3px;
    z-index: 1;
    &.open {
      @include shadow(1);
      max-height: 500px;
      border: 1px solid $divider-color;
    }
  }
  .dd-item {
    border: 0;
    padding: 5px 10px;
    &:hover {
      background: $primary-color-light;
    }
  }
  .dd-icon {
    width: 20px;
    display: inline-block;
  }
}