@import 'scss/variables';
dropdown {
  display: inline-block;
  position: relative;
  transition: width .2s ease;
  outline: none;
  .dd-input {
    position: relative;
    width: calc(100% - 25px);
    cursor: pointer;
    &:before {
      content: '\f0d7';
      position: absolute;
      right: 0;
    }
  }
  .dd-item-list {
    max-width: 500px;
    max-height: 0;
    width: 100%;
    position: absolute;
    background: $primary-color-text;
    color: $primary-text-color;
    overflow: hidden;
    transition: max-height .4s ease, top .2s ease;
    z-index: 10;
    top: 25px;
    left: 0;
    border-radius: 3px;
    &.open {
      @include shadow(1);
      max-height: 500px;
      top: 0;
    }
  }
  .dd-item {
    border: 0;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background: $primary-color-light;
    }
  }
  .dd-text {
    padding-right: 30px;
  }
  .dd-icon {
    width: 20px;
    display: inline-block;
  }
}