@import 'scss/variables';

pw-projectlog {
  width: 100%;
  display: block;
  margin: 0 auto;

  .actions {
    .fa {
      font-size: 1.32em;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      transition: background-color 0.1s ease;

      &:hover {
        background-color: $accent-color;
        color: $primary-color-text;
      }
    }

    .fa-check {
      &.selected {
        &:before {
          content: '\f00d';
        }
      }
    }
  }

  .list-item {
    &.loader {
      height: 0;
      padding: 0;
      transition: height 0.2s ease, padding 0.2s ease;
      border: 0;
      overflow: hidden;

      & > div {
        margin: 0 auto;
        display: block;
      }
    }
  }

  .list {
    border: 1px solid $primary-color-text;
    border-radius: 3px;

    &.loading {
      .loader {
        border: 1px solid $primary-color-text;
        padding: 15px;
        height: 75px;
      }
    }
  }

  pw-projectlog-item {
    padding: 15px;
    overflow: hidden;
    transition: background 0.1s ease, transform 0.2s ease, margin 0.2s ease;
    cursor: pointer;
    display: block;

    &:not(:first-child) {
      border-top: 1px solid $divider-color-light;
    }

    & > div {
      vertical-align: top;
      margin: 0 5px;
      display: inline-block;
    }

    .avatar {
      background: $primary-color;
      color: $primary-color-text;
      line-height: 50px;
      border-radius: 50%;
      font-size: 1.5em;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      position: relative;
      margin: 0 10px;
      transition: background 0.1s ease;

      &:before {
        opacity: 0;
        transition: opacity 0.1s ease, transform 0.1s ease;
        content: '\f00c';
        position: absolute;
        color: $primary-color-text;
        left: 25%;
        transform: rotateZ(-90deg);
      }
    }

    .content {
      width: calc(100% - 85px);
    }

    .id {
      display: none;
      color: $accent-color;
      margin-right: 10px;
      font-weight: bold;
      vertical-align: middle;
      font-size: 0.8em;
    }

    .heading {
      font-weight: bold;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .status {
      text-align: left;
      display: inline-block;
      padding: 2px 0;
      border-radius: 3px;
      width: 70px;
      font-size: 0.8em;
      line-height: 18px;
      vertical-align: middle;
    }

    .text {
      color: $secondary-text-color;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 25px;
      transition: max-height 0.2s ease;
    }

    .action-bar {
      display: block;
      width: calc(100% - 85px);
      clear: both;
      margin: 0 0 0 75px;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease, padding 0.2s ease, margin 0.2s ease;

      .fa {
        font-size: 1.32em;
        margin: 0 10px;
        color: $primary-text-color;
      }
    }

    .separator {
      display: none;
    }

    &.open {
      @include shadow(5);
      margin: 20px 0;
      transform: scale(1.01);
      border: 1px solid $divider-color-light;

      .id {
        display: inline-block;
      }

      .separator {
        display: block;
      }

      .heading {
        display: block;
        width: 100%;
        white-space: inherit;
      }

      .text {
        white-space: inherit;
        max-height: 500px;
        transition: max-height 0.2s ease;
      }

      .action-bar {
        max-height: 500px;
        margin: 20px 0 0 75px;
        padding: 20px 0 0;
        display: block;
        border-top: 1px solid $divider-color-light;
      }
    }

    &.selected-item {
      background: lighten($primary-color-light, 10%);

      .avatar {
        background: darken($primary-color, 30%);
        color: darken($primary-color, 30%);

        &:before {
          transform: rotateZ(0deg);
          opacity: 1;
        }
      }
    }
  }
}
