@import 'scss/variables';
.middle {
  vertical-align: middle;
  display: inline-block;
}
.inline {
  display: inline-block;
}
.center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.green {
  background: $green;
}
.red {
  background: $red;
}
.pink {
  background: $pink;
}
.yellow {
  background: $yellow;
}
.blue-grey {
  background: $blue-grey;
}
.grey {
  background: $grey;
}
.green-text {
  color: $green;
}
.red-text {
  color: $red;
}
.pink-text {
  color: $pink;
}
.yellow-text {
  color: $yellow;
}
.blue-grey-text {
  color: $blue-grey;
}
.grey-text {
  color: $grey;
}
.visible-sm {
  display: none;
  @media(max-width: $small-device) {
    display: inline-block;
  }
}
.visible-lg {
  display: none;
  @media(min-width: $small-device + 1) {
    display: inline-block;
  }
}
.separator {
  border-top: 1px solid $divider-color-light;
  margin: 5px 0;
  padding: 0;
}
.error-message {
  color: $red;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.btn {
  @include shadow(1);
  display: inline-block;
  padding: 10px 15px;
  background: $primary-color;
  color: $primary-color-text;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  border: 0;
  &:active {
    &:not(.dialog-disabled-button) {
      @include shadow(0);
    }
  }
  &.btn-primary {
    background: $accent-color;
  }
  &.btn-disabled,
  &[disabled] {
    background: $divider-color;
    &:hover {
      cursor: not-allowed;
      background: $divider-color;
    }
  }
  &.btn-pill {
    @include shadow(0);
    background: transparent;
    color: $primary-color;
    &:hover {
      @include shadow(1);
      background: $primary-color;
      color: $primary-color-text;
    }
  }
  &.btn-round {
    font-size: 1.32em;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    min-width: 50px;
    width: 51px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    color: $secondary-text-color;
    transition: background-color 0.1s ease;
    box-shadow: none;
    &.btn-primary {
      background: transparent;
      color: $primary-color;
    }
    &:hover {
      @include shadow(1);
      background-color: $accent-color;
      color: $primary-color-text;
      &:active {
        @include shadow(0);
      }
    }
  }
}
[badge] {
  position: relative;
  &:after {
    content: attr(badge);
    font-size: 9px;
    background: $accent-color;
    color: $primary-color-text;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    padding: 0;
    font-weight: bold;
  }
  &.disabled {
    &:after {
      display: none;
    }
  }
}
[tooltip] {
  position: relative;
  &:after {
    content: attr(tooltip);
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    background: $primary-text-color;
    color: $primary-color-text;
    padding: 1px 5px 0;
    border-radius: 4px;
    transition: top .3s ease, height .3s ease, transform .3s ease, opacity .3s ease;
    opacity: 0;
    height: 0;
    font-size: 12px;
    white-space: nowrap;
    transform: translateX(-50%);
    line-height: 20px;
    overflow: hidden;
  }
  &:hover {
    &:after {
      opacity: 1;
      height: 20px;
    }
  }
}
$code-bg-color: #EFEFEF;
.code {
  background: $code-bg-color;
  font-family: monospace;
  padding: 2px 5px;
  font-size: 14px;
  border: 1px solid darken($code-bg-color, 2%);
}
.dropdown {
  .dropdown-btn {
    border: 0;
  }
}
.avatar {
  background: $divider-color-light;
  color: $divider-color;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  &:before {
    font-size: 8em;
    content: '\f21b';
    line-height: 140px;
    padding-left: 5px;
  }
}
.dynamic-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
  &.show {
    max-height: 100px;
  }
}

/** Reset **/

html {
  body,
  div,
  span,
  p,
  button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    outline: none;
  }
  button,
  .btn {
    outline: none;
    &:active {
      outline: none;
    }
  }
  a {
    color: $primary-color-dark;
    &:active {
      text-decoration: none;
    }
    &:hover {
      color: lighten($primary-text-color, 10%);
      text-decoration: none;
      cursor: pointer;
    }
  }
}