@import 'scss/materialize';

html {
  body,
  div,
  span,
  p {
    margin: 0;
    padding: 0;
    display: block-inline;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
  }

  pw-app {
    margin: 0;
    padding: 0;

    main {
      height: 100%;
    }

    footer {
      color: $footer-color;
      font-size: 0.8em;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      padding: 12px;
      border-top: 1px solid $lightest-color;
    }
  }
}
