@import 'scss/variables';
pw-header {
  @include shadow(5);
  width: 100%;
  display: block;
  padding: 12px 20px;
  height: auto;
  background: $primary-color;
  .nav-wrapper {
    transition: height 0.2s 0.1s ease-in-out;
    height: 50px;
    @media(max-width: $small-device) {
      overflow: hidden;
      &.open {
        transition: height 0.2s 0s ease-in-out;
        height: 135px;
        overflow: visible;
      }
    }
  }
  .title {
    font-size: 1.8em;
    font-weight: 100;
    img,
    span {
      color: $primary-color-text;
      vertical-align: middle;
      margin: 0 2px;
    }
  }
  .fa {
    color: $primary-color-text;
    vertical-align: middle;
    &.disabled {
      color: $divider-color;
      cursor: not-allowed;
    }
    &:hover {
      color: lighten($divider-color, 10%);
    }
  }
  .sync-state {
    width: 23px;
    line-height: 23px;
    text-align: center;
    &.syncing {
      &:before {
        content: '\f0ee';
      }
    }
  }
  .right {
    vertical-align: middle;
    .fa {
      font-size: 1.5em;
      margin: 0 10px;
    }
  }
  .menu {
    transition: opacity 0.2s ease-in-out;
    display: block;
    @media(max-width: $small-device) {
      opacity: 0;
      clear: both;
      width: 100%;
      margin: 0;
      span,
      .dropdown-btn {
        display: block;
        width: 100%;
        margin-top: 15px;
      }
    }
    &.open {
      transition: opacity 0.2s 0.2s ease-in-out;
      @media(max-width: $small-device) {
        opacity: 1;
      }
    }
  }
  .dropdown {
    .dropdown-btn {
      outline: none;
      border-radius: 3px;
      font-size: 0.9em;
      padding: 2px 5px;
      background-color: $primary-color-text;
      margin-right: 10px;
      color: $secondary-text-color;
    }
    .dropdown-menu {
      @include shadow(6);
      background-color: $primary-color-text;
      color: $secondary-text-color;
    }
    .fa {
      margin: 0 5px;
      font-size: 1em;
      color: $secondary-text-color;
    }
  }
  .user-profile {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    .menu {
      background: $primary-color-text;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      right: 0;
      top: 0;
      position: absolute;
      transition: height .3s ease, width .2s ease, border-radius .1s .1s ease;
      overflow: hidden;
      span,
      button {
        opacity: 0;
        transition: opacity .1s ease;
      }
      .btn {
        padding: 4px;
        margin: 4px 10px;
        width: calc(100% - 20px);
        font-weight: 300;
      }
    }
    .avatar {
      right: 0;
      top: 0;
      position: absolute;
    }
    .user-name {
      background-color: $divider-color-light;
      margin: 0;
      height: 65px;
      line-height: 23px;
      width: 100%;
      text-overflow: ellipsis;
      font-weight: bold;
      text-align: center;
      padding: 10px 5px;
    }
    .name {
      width: calc(100% - 80px);
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
    .email {
      color: $divider-color;
      font-size: .8em;
      font-weight: 300;
    }
    &.open {
      .menu {
        @include shadow(2);
        transition: height .3s ease, width .2s ease, border-radius .3s ease;
        width: 200px;
        height: 150px;
        border-radius: 3px;
        span,
        button {
          transition: opacity .3s .2s ease;
          opacity: 1;
        }
      }
      .avatar {
        color: $primary-color;
      }
    }
  }
}